---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
const { summary_length } = config.settings;

type Props = {
  projects: CollectionEntry<"projects">[];
};
const { projects } = Astro.props;
---

<div class="row">
  {
    projects.map((item) => (
      <div class="mb-8 md:col-6 lg:col-4">
        <div class="card overflow-hidden p-0 flex flex-col">
          <div class="relative">
            <Image
              class="card-img object-cover w-full rounded-t-xl"
              width={400}
              height={300}
              src={item.data.image!}
              alt={item.data.title}
            />
          </div>
          <div class="card-content p-5 flex-1">
            <h3 class="h4 card-title mb-2">
              <a href={`/projects/${item.id}`}>{item.data.title}</a>
            </h3>
            <div class="card-tags space-x-1 mb-4">
              {item.data.categories.map((category) => (
                <span class="tag">
                  {humanize(category)}
                </span>
              ))}
              {item.data.client_type && (
                <span class="tag tag-outline">
                  {humanize(item.data.client_type)}
                </span>
              )}
            </div>

            {item.body && (() => {
              // Remove markdown headers and get first paragraph
              const textWithoutHeaders = item.body.replace(/^#{1,6}\s+.*$/gm, "").trim();
              const firstParagraph = textWithoutHeaders.split(/\n\s*\n/)[0] || textWithoutHeaders.split(/\n/)[0];
              return (
                <p class="mb-4 text-text">
                  {plainify(firstParagraph.slice(0, Number(summary_length)))}...
                </p>
              );
            })()}

            {item.data.technologies && item.data.technologies.length > 0 && (
              <div class="mb-4 flex flex-wrap gap-2">
                {item.data.technologies.slice(0, 3).map((tech) => (
                  <span class="text-xs rounded-full bg-light px-2 py-1 text-text">
                    {tech}
                  </span>
                ))}
                {item.data.technologies.length > 3 && (
                  <span class="text-xs text-text">+{item.data.technologies.length - 3}</span>
                )}
              </div>
            )}

            <div class="card-footer mt-6 flex space-x-4">
              {item.data.date && (
                <span class="inline-flex items-center text-xs text-[#666]">
                  <svg
                    class="mr-1.5"
                    width="14"
                    height="16"
                    viewBox="0 0 14 16"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M12.5 2H11V0.375C11 0.16875 10.8313 0 10.625 0H9.375C9.16875 0 9 0.16875 9 0.375V2H5V0.375C5 0.16875 4.83125 0 4.625 0H3.375C3.16875 0 3 0.16875 3 0.375V2H1.5C0.671875 2 0 2.67188 0 3.5V14.5C0 15.3281 0.671875 16 1.5 16H12.5C13.3281 16 14 15.3281 14 14.5V3.5C14 2.67188 13.3281 2 12.5 2ZM12.3125 14.5H1.6875C1.58438 14.5 1.5 14.4156 1.5 14.3125V5H12.5V14.3125C12.5 14.4156 12.4156 14.5 12.3125 14.5Z"
                      fill="#939393"
                    />
                  </svg>
                  {dateFormat(item.data.date!)}
                </span>
              )}
              {item.data.status && (
                <span class={`inline-flex items-center text-xs ${
                  item.data.status === 'completado' ? 'text-green-600' : 
                  item.data.status === 'en-progreso' ? 'text-blue-600' : 
                  'text-gray-600'
                }`}>
                  {humanize(item.data.status)}
                </span>
              )}
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>

